.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(122, 31, 31);
    z-index: 1000;
}

.suggestions-dropdown {
    position: absolute; 
    background-color: #ffffff;
    top: 100%; 
    left: 0;
    width: 100%;
    z-index: 1000; 
}
.suggestion-item {
    height: 40px;
    display: flex;
    align-items: center; 
    border: 1px solid rgb(215, 179, 179);
    cursor: pointer;
}

.suggestion-item img {
    width: 30px;
    margin-left: 4px;
    margin-right: 4px; 
}

.suggestion-item .name {
    font-size: 15px;
}

.navbar .logo{
    width: 150px;  
    margin-left: 100px;
    position: relative;
}

.navbar-menu{
    text-align: center;
    display: flex;
    list-style: none;
    gap: 20px;
    color: #4C3F3A;
    font-size: 18px;
    color: #ffffff;
}

.navbar-right{
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.navbar-right img {
    width: 30px;
}

.navbar button{
    background: peru;
    font-size: 16px;
    color:white;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #faccc4;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid peru;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: rgb(219, 121, 56);
    border-radius: 5px;
    top: -5px;
}

.navbar-profile {
    position: relative;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #ffffff;
    padding: 12px 25px;
    border-radius: 4px;
    outline: 2px solid peru;
    list-style: none;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}

.navbar-search {
    position: absolute;
    right: 150%;
    top: 50%;
    transform: translateY(-50%);
    display: flex; 
    align-items: center;
}

.navbar-search input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 40px;
}

.navbar-search input[type="text"]::placeholder {
    padding-left: 5px;
}

.navbar-search button {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: rgba(252, 252, 252, 0);
    height: 40px;
    width: 40px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    cursor: pointer;
}

@media (max-width: 1400px) {
    .navbar-search input[type="text"] {
        width: 160px;
        height: 35px;
    }

    .navbar-search button {
        height: 35px;
    }

    .navbar-right img{
        width: 25px;
    }

    .navbar-right{
        gap: 30px;
    }
}

@media (max-width: 1300px) {
    .navbar-search input[type="text"] {
        width: 120px;
        height: 30px;
    }

    .navbar-search button {
        height: 30px;
    }

    .navbar-right img{
        width: 22px;
    }
    .navbar-right{
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .navbar-search {
        display: none;
    }
}


@media (max-width: 1100px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 950px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu{
        display: none;
        gap: 15px;
        font-size: 16px;
    }
}