.food {
    margin: 60px 0;
}

.container {
    width: 100%;
    display: grid;
}

.food-item-img {
    width: 45%;
    flex-direction: none;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.descrip {
    font-size: 28px;
    position: absolute;
    top: 120px;
    left: 55%;
    font-weight: 500;
    width: 35%;
}

.price{
    font-size: 22px;
    color: red;
}

.name,.price {
    height: 50px;
    border-bottom: 1px solid rgb(230, 229, 229);
    display: flex; 
    align-items: center; 
}
.category,.rate {
    height: 50px;
    border-top: 1px solid rgb(230, 229, 229);
    display: flex; 
    align-items: center; 
    margin-top: 10px;
}

.description,.text {
    font-weight: 200;
    font-size: 20px;
}

.rate {
    border-bottom: 1px solid rgb(230, 229, 229);
}

.star {
    color: rgb(237, 229, 229); /* Màu mặc định cho ngôi sao không điền */
    margin-left: 2px;
}

.filled {
    color: orange; 
}

.half-filled {
    position: relative;
    overflow: hidden;
}

.half-filled:before {
    content: "\2605"; 
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 50%; 
    color: orange; 
}

.add-button{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgb(122, 31, 31);
    color: #ffffff;
}

.food-item-counters{
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counters img{
    width: 25px;
}

.box-rating {
    margin-top: 30px;
    max-height: 100px;
    margin-bottom: 20px;
}

.comment-container {
    width: 45%;
    max-height: 150px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.rating-item {
    padding-left: 5px;
    background-color: rgb(255, 237, 237);;
    margin-top: 10px;
}

.box-rating h2 {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
}

.rating-item p {
    color: rgb(122, 31, 31);
    font-weight: 600;
    margin-bottom: 4px;
}

.rating-item span {
    color: black;
    font-weight: 400;
}

.rating-item img {
    margin-left: 2px;
    width: 12px;
}

.recommend-item {
    margin-top: 100px;
}

.recommend-item h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.recommend-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 1100px) {
    .name,.price,.category,.rate {
        height: 45px;
        font-size: 18px;
    }
    .description {
        font-size: 15px;
    }

    .add-button {
        width: 110px;
        height: 40px;
    }

    .rate p {
        font-size: 18px;
    }

    .food-item-counters {
        font-size: 18px;
    }
    .box-rating h2 {
        font-size: 18px;
    }

    .rating-item p {
        font-size: 18px;
    }

    .recommend-item h2 {
        font-size: 18px;
    }
    .comment-container {
        max-height: 120px;
    }
}

@media (max-width: 1000px) {
    .name,.price,.category,.rate {
        font-size: 16px;
        height: 40px;
    }
    .description {
        font-size: 14px;
    }

    .add-button {
        width: 100px;
        height: 40px;
    }
    .rate p {
        font-size: 16px;
    }
    .food-item-counters {
        font-size: 16px;
    }

    .box-rating h2 {
        font-size: 16px;
    }
    .comment-container {
        max-height: 100px;
    }
    .recommend-item h2 {
        font-size: 16px;
    }

    .rating-item p {
        font-size: 13px;
    }
}

@media (max-width: 900px) {
    .name,.price,.category,.rate {
        font-size: 15px;
        height: 35px;
    }
    .description {
        font-size: 13px;
    }

    .add-button {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }
    .rate p {
        font-size: 15px;
    }
    .food-item-counters {
        font-size: 15px;
    }
    .comment-container {
        max-height: 90px;
    }
    .box-rating h2 {
        font-size: 15px;
    }
    .recommend-item h2 {
        font-size: 15px;
    }
    .rating-item p {
        font-size: 12px;
    }
}
  
  